body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
}

.user:hover {
    transform: translateY(-5px);
}

.user img {
    display: block;
    margin: 0 auto 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user p {
    text-align: center;
    margin: 0;
    color: #333;
    font-weight: bold;
}

.user img, .user p {
    transition: 0.3s;
}

.user:hover img {
    transform: scale(1.1);
}

.user:hover p {
    color: #ff6f61;
}
